Package: com.walter.photos-video-2x
Name: Photos 视频长按 2x
Version: 0.4.1
Architecture: iphoneos-arm64
Description: 在系统相册单图视频播放时，长按左右侧区域临时以 2x 速率播放。
Maintainer: walter
Author: walter
Section: Tweaks
Depends: firmware (>= 14.0), mobilesubstrate
